.pawn-promotion-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.pawn-promotion-modal > .modal-body {
  background-color: rgba(127, 127, 127, 0.8);
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  height: 300px;
  width: 800px;
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pawn-promotion-modal > .modal-body > img {
  height: 120px;
  border-radius: 50%;
  padding: 20px;
}

.pawn-promotion-modal > .modal-body > img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}