.dashboard {
  display: flex;
  height: 91vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  // background-image: url('../../../public/images/home-bg.jpg');
  background-color: #262421;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;

  .play-button {
    margin-left: 1rem;
  }
}

.game-creation {
  background-color: #262421;
  color: #fff;
  display: flex;
  
  .game-info {
    margin-right: 2rem;
    margin-left: 1rem;

    .invite-button {

    }
  }

  .game-board {

  }
}