.info {
  display: flex;
  height: 91vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: url('../../../images/home-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}