.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;

  .chess-piece {
    position: absolute !important;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }

}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.chess-piece-image {
  width: 80px;
  height: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 24px;
  height: 24px;
  
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  content: " ";
  width: 90px;
  height: 90px;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.tile-enemy-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 100px;
  height: 100px;
  
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.4);
}

.tile-enemy-highlight.chess-piece-tile::before {
  content: " ";
  width: 90px;
  height: 90px;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}